.edit_wrapper{
  position: relative;
  @media screen and (max-width: 720px){
    width: 10vw;
  }
}
.btn{
  padding: 10px 10px 10px 30px;
  margin: 2vh 2vw 0 0;
  background: #4d92ed;
  border-style: none;
  border-radius: 4px;
  color: #fff;
}

.btn:hover{
  background: #104db8;
}
.btn_img{
  position: absolute;
  top: 25px;
  left: 10px;
  fill: #fff;

}