.card{
  border: 1px solid #dedfe0;
  border-radius: 4px;
  min-height: 30vh;
  width: 60vw;
  margin: 16vh auto 2vh auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  @media screen and (max-width: 1200px){
    width: 95vw;
    
  }

}
.card_body{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2em;
}
.card_photo{
  margin: 50px;
  @media screen and (max-width: 1200px){
    margin: 10vh auto;
  }
}
.card_text{
  padding: 0  10px;

}
.card_text p{
  font-style: normal;
  font-size: 1em;
  line-height: 1.5em;
}
.card_links{
  border-top: 1px  solid #dedfe0;
  @media screen and (max-width: 720px){
    font-size: 0.8em;
  }
  li{
    display: inline-block;
    margin: 0 1.5vw -5vw 1.5vw; 
    padding: 15px;
    font-size: 1em;
    :hover{
      border-bottom: none;
    }
    @media screen and (max-width: 720px){
      padding: 5px;
    }
  } 
  :hover{
    border-bottom: 2px #4d92ed solid;
  }
}
.card_btns{
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 720px){
    width: 50vw;
  }
}

.active{
  border-bottom: 2px #4d92ed solid;
}