@import url('https://fonts.google.com/specimen/Roboto?preview.text_type=custom#glyphs');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
 }

a {
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}

button{
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  color: #000;
  font-style: bold;
}
.subtitle{
  font-size: 1em;
  line-height: 1.5em;
  color: rgb(44, 44, 44);
  font-family: Roboto, sans-serif;
  
}

.logo{
  color: #55c9ff;
  font-size: 2em;
  text-transform: lowercase;
  font-family: Roboto, sans-serif;
  margin: 2vh 2vw;
  @media screen and (max-width: 1200px){
    margin-top: 3vh;
    margin-left: 12vw;
  }
  @media screen and (max-width: 720px){
    font-size: 1.8em;
  }

}

.sidebar{
  width: 230px;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  @media screen and (max-width: 1200px){
    top: 2vh;
    width: 320px;
    left: -100%;
    visibility: hidden;
  }
}
.sidebar_active{
  width: 230px;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  @media screen and (max-width: 1200px){
    top: 13vh;
    width: 320px;
    left: 0;
    visibility: visible;
  }
}
.menu {
  
  @media screen and (max-width: 1200px){
    display: block;
    margin-top: 3vh;
    margin-left: 5vw;
  }
}