@import url('https://fonts.google.com/specimen/Roboto?preview.text_type=custom#glyphs');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
 }

a {
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}

button{
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  color: #000;
  font-style: bold;
}
.subtitle{
  font-size: 1em;
  color: rgb(44, 44, 44);
  font-style: bold;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  color: #55c9ff;
  font-size: 2em;
  text-transform: lowercase;
  margin: 2vh 2vw;
  @media screen and (max-width: 1200px){
    margin-left: 10vw;
    margin-top: 3vh;
  }

}

.sidebar{
  width: 15vw;
  position: fixed;
  z-index: 10;
  @media screen and (max-width: 1200px){
    display: none;
  }
}