.header{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 13vh;
  padding: 10px 0;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 2vw;
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
  opacity: 1;
  background: #fff;
  @media screen and (max-width: 1200px){
    grid-template-columns: 1fr 1fr 2fr 1fr
  }
}
.top_menu{
  margin: 3vh 0 3vh 5vw;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  width: 5vw;
  @media screen and (max-width: 1200px){
    margin: 3vh 0;
    width: 10vw;
  }
}
