.text{
  width: 50vw;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  p{
  font-size: 1em;
  line-height: 1.5em;
  }
  @media screen and (max-width: 1200px){
    width: 85vw;
  }
  @media screen and (max-width: 720px){
    width: 80vw;
  }
}

.main_container{
  width: 100%;
  position: relative;
  font-family: Roboto, sans-serif;
}

.text_list{
  margin-left: 5vw;
}