
.searchbar {
  position: relative;
  margin: 2vh 0 2vh 4vw;
}

.pesquisa{
  width: 65vw;
  height: 5vh;
  padding: 3vh 4vw 3vh 3vw;
  margin: 0 auto;
  background: #ececed;
  border-radius: 4px;
  border-style: none;
  @media screen and (max-width: 1200px){
    width: 50vw;
    padding-left: 3vw;
  }
  @media screen and (max-width: 720px){
    width: 30vw;
    padding-left: 3vw;
  }
}

.lupa{
  position: absolute;
  top: 1.8vh;
  left: 1vw;
  @media screen and (max-width: 720px){
    visibility: hidden;
  }
}