
.mobile_header{
  position: fixed;
  top: 1vh;
  visibility: hidden;
  width: 10vw;
  z-index: 3;
  @media screen and (max-width: 1200px){

    visibility: visible;
    h1{
      margin: 27px 0 10px 10px;
    }
  }
}