.subcard{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  height: 15vh;
  margin-left: 18vw;
  grid-auto-rows: minmax(10vh, auto);
  box-shadow: inset 0px -1px 0px 0px rgb(232, 232, 232);
  @media screen and (max-width: 1200px){
    width: 95vw;
    margin: 5vh 0;
  }
  @media screen and (max-width: 720px){
    font-size: 0.8em;
    grid-gap: 5px;
    margin: 0;
  }
}
.subcard_img{
  margin: auto;
  @media screen and (max-width: 1200px){
    margin-top: 5vh;
  }
}
.subcard_text{
  margin-left: -2vw;
  @media screen and (max-width: 1200px){
    margin: 0 auto;
  }
}
.subcard_counter{
  margin: 2vh;
  display: flex;
  width: 30px;
  height: 40px;
    @media screen and (max-width: 720px){
    width: 25px;
    height: 38px;
  }
  button{
    background: #fff;
    color: #afafaf;
    padding: 10px;
    border: 1px solid #dedfe0;
    border-right: none;
    border-radius: 4px 0 0 4px;
  }
  p{
    margin: auto;
    border: 1px solid #dedfe0;
    border-radius: 0 4px 4px 0;
    width: 40px;
    padding: 10px;
    color:#afafaf;
    justify-content: center;
  }
  :hover{
      color: #616060;
  }
}
.subcard_btns{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: auto;
  margin: 3vh 0;
  @media screen and (max-width: 1200px){
    margin: 2vh auto;
  }

}

.subcard_name{
  color: #4d92ed;

}
