.subcard{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  height: 15vh;
  margin-left: 18vw;
  grid-auto-rows: minmax(15vh, auto);
  box-shadow: inset 0px -1px 0px 0px rgb(232, 232, 232);
}
.subcard_img{
  margin: auto;
  
}

.subcard_text{
  margin-left: -2vw;
}

.subcard_counter{
  width: 5vw;
  button{
    padding: 5px;
    background: #fff;
    color: #afafaf;
    width: 30px;
    height: 30px;
    border: 1px solid #dedfe0;
    border-radius: 4px 0 0 4px;
  }
  p{
    margin: 0 auto;
    border: 1px solid #dedfe0;
    border-radius: 4px;
  }
}
.subcard_btns{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 3vh 0;
}

.subcard_name{
  color: #4d92ed;
}