.sumary{
  width: 50vw;
  margin: 2vh auto;
}

.sumary_list{
  font-size: 1em;
  line-height: 2em;
  color: #4D92ED;
  padding: 15px;
  li::marker{
    color: #000;
  }
  :hover{
    color: #104db8;
  }
}
