.view_list{ 
  border-bottom: 1px solid #efefef;
  :hover{
    color: #4d92ed;
  }
}
.view_list li{

  padding: 10px 0 10px 10px;

}
.view_list div{
  border-radius: 50%;
}
.view_title{
  font-size: 1em;
  margin: 30px;
}